:root {
    --background-color: #00ffb7;
    --title-color: rgb(51, 130, 20);
    --text-color: rgb(51, 130, 20);
    --error-color: red;  /* should never see this */
}

body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--error-color);
    /* disable scroll effects */
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00ffb7;
    /* disable scroll effects */
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    margin: 0 auto;
    text-align: center;
    font-size: 20vw;
    font-weight: bold;
    color: var(--title-color);
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
}

#debug {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    /* take up the size of the width */
    font-size: 20vw;
}